@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-vazirmatn: Vazirmatn, sans-serif, Arial, Helvetica;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-vazirmatn);
  --font-mono: var(--font-vazirmatn);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  height: 100%;
}
